<!DOCTYPE html>
<html>
    <head>
        <title>The Reading Nook</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  href="css/application.css">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #D8E1FD;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
</style>
    </head>
    <body>
<div class="header">
  
  <a href = "/library" ><img src="/images/logo.jpeg" alt = "Reading Nook logo" width = "150" height = "100"></a>
  <h1>Welcome to the Reading Nook!</h1>
  <p>A place for readers to run away</p>
</div>

<div class="topnav">
  <a href="/library">My Library</a>
  <%# <a href="#">Link</a> %>
  <%# <a href="#">Link</a> %>
</div>

<div class="row">
  <div class="column side">
    <h2>About Us</h2>
    <p></p>
  </div>
  
  <div class="column middle">
    <h2>Main Content</h2>
    <p></p>
    <p></p>
  </div>
  
  <div class="column side">
    <h2>Top Articles</h2>
    <p></p>
  </div>
</div>
    </body>
</html>